# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

dist/

# Exclude all files under scratchpad but leave the folder itself
.[Ss]cratch[Pp]ad/*
!.[Ss]cratch[Pp]ad/.gitkeep
_[Ss]cratch[Pp]ad/*
!_[Ss]cratch[Pp]ad/.gitkeep
[Ss]cratch[Pp]ad/*
![Ss]cratch[Pp]ad/.gitkeep
